---
---

$primary: #ffd000;

*,*:before,*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background:$primary;
  margin:0;
}

header {
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:1;
  color:#fff;
  height:60px;
  padding:0 15px;
  align-items: center;
  display:flex;
  @media (min-width:400px) {
    height:100px;
    padding:0 20px;
  }
  @media (min-width:870px) {
    padding:0 40px;
  }
  &.fixed {
    position: fixed;
    top:-60px;
    height:60px;
    background: #111;
    color:$primary;
    @media (min-width:400px) {
      top:-80px;
      height:80px;
    }
    nav a {
      color:$primary;
      &:hover {
        color:#fff;
      }
    }
    .social .icons a svg {
      fill:$primary;
      &:hover {
        fill:#fff;
      }
    }
    .social .icons .menuicon {
      span {
        background:$primary;
      }
      &:hover {
        span {
          background:#fff;
        }
      }
    }
  }
  .logo {
    font-family: 'Lily Script One';
    font-size:1.6em;
    flex-grow:1;
    @media (min-width:400px) {
      font-size:2em;
    }
    @media (min-width:720px) {
      font-size:1.6em;
    }
    @media (min-width:870px) {
      font-size:1.8em;
    }
    @media (min-width:1100px) {
      flex-grow:unset;
      flex:1;
    }
    @media (min-width:1000px) {
      font-size:1.8em;
    }
    @media (min-width:1100px) {
      font-size:2em;
    }
    @media (min-width:1200px) {
      font-size:2.4em;
    }
  }
  nav {
    display:none;
    @media (min-width:720px) {
      justify-content: center;
      display:flex;
    }
    @media (min-width:1100px) {
      flex-grow:1;
    }
    a {
      padding:0 10px;
      font-size:1em;
      font-weight:700;
      text-decoration:none;
      color:#fff;
      @media (min-width:870px) {
        padding:0 15px;
        font-size:1.1em;
      }
    }
  }
  .social {
    display:flex;
    @media (min-width:1100px) {
      flex:1;
      justify-content:flex-end;
    }
    .icons {
      display:flex;
      a,
      .menuicon {
        flex:1;
        margin-left:20px;
        text-decoration:none;
        svg {
          width:40px;
          fill:#fff;
        }
      }
      a {
        display:none;
        @media (min-width:400px) {
          display:block;
        }
      }
      .menuicon {
        position: relative;
        width:30px;
        height:30px;
        cursor:pointer;
        justify-content: center;
        flex-direction: column;
        display: flex;
        @media (min-width:400px) {
          width:40px;
          height:40px;
        }
        @media (min-width:720px) {
          display: none;
        }
        span {
          margin:4px 0;
          width:100%;
          height:4px;
          background:#fff;
          display:block;
        }
      }
    }
  }
}

.hero {
  position: relative;
  width:100%;
  // height:100vh;
  background:#666;
  z-index:0;
  .background {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:url('../images/photos/pool.jpg') 50% 50% / cover no-repeat;
    filter:brightness(0.7);
  }
  h1 {
    position: relative;
    margin:auto;
    width:100%;
    padding:110px 30px 220px;
    font-size:2em;
    text-align: left;
    color:#fff;
    @media (min-width:515px) {
      max-width:480px;
      padding:120px 0;
      font-size:1.8em;
      text-align: center;
    }
    @media (min-width:620px) {
      max-width:600px;
      padding:150px 0;
      font-size:2.2em;
    }
    @media (min-width:860px) {
      max-width:850px;
      padding:200px 0;
      font-size:3em;
    }
    @media (min-width:1150px) {
      max-width:1100px;
      padding:250px 0;
      font-size:4em;
    }
  }
}

.intro {
  // display:flex;
  .row {
    margin:auto;
    max-width:1400px;
    padding:20px 20px 0;
    
    @media (min-width:500px) {
      padding:60px 60px 0;
      display:flex;
    }
    &:last-child {
      @media (min-width:500px) {
        padding-bottom:60px;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .content {
        padding-right:unset;
        @media (min-width:500px) {
          padding-left: 60px;
        }
      }
    }
    .content {
      font-size:1.2em;
      line-height:1.4em;
      align-items: center;
      display: flex;
      flex:1;
      @media (min-width:500px) {
        font-size:1.8em;
        padding-right:60px;
      }
    }
    .photos {
      flex:1;
      margin:20px 0 0;
      @media (min-width:500px) {
        margin:0;
      }
      img {
        width:100%;
        display:block;
      }
    }
  }
}


footer {
  height:800px;
}